{% extends 'base.html.twig' %}

{% block title %}Lyon Bio Ressources{% endblock %}

{% block body %}

<div class="pb-3">
    <h1 class="text-success">Bonjour</h1>
    {# Utiliser {{dump(app.user)}} pour afficher les infos de l'utilisateur en dur #}
</div>
{# 
<div class="pb-3">
    <h2 class="text-success">Statistiques contacts</h2>
        <div class="tabledash" id="piechart"></div>
</div> #}

<div class="pb-3">
    <h2 class="text-success pb-2">Informations sur les contacts et les évenements</h2>
    <div class="card-deck">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ nbContacts }} contacts</h5>
                <p class="card-text"><em>5 derniers contacts enregistrés:</em>
                    {# Ajouter la fonction pour afficher le NB #}
                    <ul>
                        {% for contact in cinqDerniersContacts %}
                        <li>{{ contact.nom }}</li>
                        {% endfor %}
                    </ul>
                </p>
            
            </div>
            <div class="card-footer">

                <a class="nav-link active text-white" href="{{ path('lbr_contact_index') }}">Voir la liste</a>
            </div>
        </div>

        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ nbContactsEnAttente }} de fiches de contacts en attentes de modifications</h5>
                <p class="card-text">Nb de contact enregistrés mais dont les informations essentielles sont à
                    compléter.

                    <ul>
                        {% for contact in cinqContactsAValider %}
                        <li>{{ contact.nom}}</li>
                        {% endfor %}
                    </ul>
                </p>
                    
                    {# Ajouter la fonction pour afficher le NB #}
                
            </div>
            <div class="card-footer">
                <a class="nav-link active text-white" href="{{ path('lbr_contact_valider') }}">Voir la liste</a>
            </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title "><a href="{{ path('lbr_contact_index') }}"></a>Les 10 derniers contacts modifiés</h5>
                <p class="card-text">
                <ul>
                    {% for contact in dixDerniersContactsModif %}
                        <li>{{contact.nom}}</li>
                    </ul>
                    {% endfor %}
                    {# Ajouter la fonction pour afficher le NB #}
                </p>
            </div>
            <div class="card-footer">
                <a class="nav-link active text-white" href="{{ path('lbr_evenement_index') }}">Voir la liste</a>
            </div>
        </div>

        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"> <a href="{{ path('lbr_evenement_index') }}"></a>Evenements à venir</h5>
                <p class="card-text">
                    <ul>
                        {% for event in cinqProchainsEvents %}
                        <li>{{ event.nom }}</li>
                        {% endfor %}
                    </ul>
                    {# Ajouter la fonction pour afficher le NB #}
                </p>
            </div>
            <div class="card-footer">
                <a class="nav-link active text-white" href="{{ path('lbr_evenement_index') }}">Voir la liste</a>
            </div>
        </div>

    </div>
</div>

<div class="pb-3">
    <h2 class="text-success pb-2">Réseaux sociaux</h2>
    <div class="row">
  
            <div class="fb-page data-adapt-container-width" data-href="https://www.facebook.com/lyonbioressources/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/lyonbioressources/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lyonbioressources/">Lyon Bio Ressources</a></blockquote></div>
</div>
<div class="pb-3">
    <h2 class="text-success p-2">Les dernières images ajoutées</h2>
    <div class="row">
            <div id="lbrcarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <a href="{{ path('lbr_evenement_index')}}"><img class="img-responsive w-100" src="{{ asset('images/evenements/b2a027348b094c37d3e1c5b588b07e27.jpeg') }}"alt="slide 1"></a>
                </div>
                <div class="carousel-item active">
                <a href="{{ path('lbr_evenement_index')}}"><img class="img-responsive w-100" src="{{ asset('images/evenements/d31a8e4194368592bc209ddbfd35588c.jpeg') }}"alt"slide 2"></a>
                </div>
                <div class="carousel-item active">
                <a href="{{ path('lbr_evenement_index')}}"><img class="img-responsive w-100" src="{{ asset('images/evenements/e471924d91d35361bdf4890cc7aa8be6.jpeg') }}"alt="slide 3"></a>
                </div>
            </div>
            </div>
</div>

</div>

{% endblock %}