{% extends 'base.html.twig' %}

{% block title %}Liste Organisation{% endblock %}

{% block body %}
   


            
        <h1>Organisation</h1>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for organisation in organisations %}
            <tr>
                <td>{{ organisation.id }}</td>
                <td>{{ organisation.nom }}</td>
                <td>{{ organisation.Description|length > 50 ? organisation.Description|slice(0, 50) ~ '...' : organisation.Description  }}</td>
                <td>{{ organisation.Type }}</td>
                <td>

<a href="{{ path('lbr_organisation_show', {'id': organisation.id}) }}"><button type="button" class="btn btn-primary"><span
            class="text-white">Voir</span></button></a>

<a href="{{ path('lbr_organisation_edit', {'id': organisation.id}) }}"><button type="button" class="btn btn-warning"><span
            class="text-white">Editer</span></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune Organisation</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<button type="button" class="btn btn-success"><a href="{{ path('lbr_organisation_new') }}"><span class="text-white">Ajouter
            une organisation</a></span></button>
    
{% endblock %}

