{% extends 'base.html.twig' %}

{% block title %}Organisation index{% endblock %}

{% block body %}
   
        

        <h1>Organisation</h1>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organisation in organisations %}
            <tr>
                <td>{{ organisation.id }}</td>
                <td>{{ organisation.nom }}</td>
                <td>{{ organisation.Description }}</td>
                <td>{{ organisation.Type }}</td>
                <td>

                    <a href="{{ path('lbr_organisation_show', {'id': organisation.id}) }}">show</a>
                    <a href="{{ path('lbr_organisation_edit', {'id': organisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('lbr_organisation_new') }}">Create new</a>
{% endblock %}
