{% extends 'base.html.twig' %}

{% block title %}Organisation index{% endblock %}

{% block body %}
   


<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 flex-column mt-5">
            
                <h1>Organisation</h1>
            
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 flex-column mt-5">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>

            </div>
        </div>
    </div>
</div>

        <tbody>
        {% for organisation in organisations %}
            <tr>
                <td>{{ organisation.id }}</td>
                <td>{{ organisation.nom }}</td>
                <td>{{ organisation.Description }}</td>
                <td>{{ organisation.Type }}</td>
                <td>

                    <a href="{{ path('lbr_organisation_show', {'id': organisation.id}) }}">show</a>
                    <a href="{{ path('lbr_organisation_edit', {'id': organisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




<body>

    <header>
        <div class="menu open"></div>
        <div class="inside">
            <nav>
                <ul>
                    <li>HOME</li>
                    <li>SHOP</li>
                    <li>BLOG</li>
                </ul>
            </nav>
        </div>
    </header>
    <main>

    </main>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="scripts/scripts.js"></script>

</body>





    <a href="{{ path('lbr_organisation_new') }}">Create new</a>
{% endblock %}

