{% extends 'base.html.twig' %}

{% block title %}Organisation{% endblock %}

{% block body %}


        <h1>Organisation</h1>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organisation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ organisation.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ organisation.Description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ organisation.Type }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('lbr_organisation_index') }}"><span class="text-white"><button type="btn" class="btn btn-primary">Retour
            à la liste</span></button></a>

<a href="{{ path('lbr_organisation_edit', {'id': organisation.id}) }}"><button type="btn" class="btn btn-warning my-2"><span class="text-white">Editer</span></button></a>


    {{ include('lbr/organisation/_delete_form.html.twig') }}
{% endblock %}
