{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}


                <h1>Evenement</h1>

<div class=".d-inline flex">
    <table class="table">
        <tbody>
            
               
                    <tr>
                        <th>Nom</th>
                        <td>{{ evenement.nom }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td>{{ evenement.note|raw }}</td>
                    </tr>
                    <tr>

           
</div>
  
                <th>Image</th>
                <div class=".d- inline-flex"> 
                <td><img class="img-responsive w-50" src="{{ asset('images/evenements/') }}{{ evenement.image }}"></td>
            </tr>

           
           
        </tbody>
    </table>
        </div>
           
   
    <a href="{{ path('lbr_evenement_index') }}"><span class="text-white"><button type="btn" class="btn btn-primary">Retour à la liste</span></button></a>

    <a href="{{ path('lbr_evenement_edit', {'id': evenement.id}) }}"><button type="btn" class="btn btn-warning"><span class="text-white">Editer</span></button></a>

    {{ include('lbr/evenement/_delete_form.html.twig') }}
{% endblock %}
