{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ evenement.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ evenement.note }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="img-responsive w-50" src="{{asset(evenement.image)}}"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lbr_evenement_index') }}">back to list</a>

    <a href="{{ path('lbr_evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('lbr/evenement/_delete_form.html.twig') }}
{% endblock %}
