{% extends 'base.html.twig' %}

{% block title %}Liste Contact{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 flex-column">

                <h1>Liste Contact</h1>

            </div>
        </div>
    </div>
</div>

<table id="tablecontact"class="table table-striped table-bordered display">
    <thead class="thead-light">
        <tr>
            <th>Organisation</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Ville</th>
            <th>Statut</th>
            <th>actions</th>
        </tr>
    </thead>

    <tbody>
        {% for contact in contacts %}
        <tr>

<td>

    {% for org in contact.organisation %}
    <a href="{{ path('lbr_organisation_show', { 'id': org.id }) }}"><span class="badge badge-primary">{{
            org.nom }}</span></a>

    {% if not loop.last %}, {% endif %}
    {% endfor %}


</td>

            <td>{{ contact.Nom|length > 8 ? contact.Nom|slice(0, 8) ~ '...' : contact.Nom }}</td>
            <td>{{ contact.Prenom|length > 8 ? contact.Prenom|slice(0, 8) ~ '...' : contact.Prenom }}</td>
            <td>{{ contact.Tel1|length > 8 ? contact.Tel1|slice(0, 8) ~ '...' : contact.Tel1 }}</td>
            <td>{{ contact.Email|length > 8 ? contact.Email|slice(0, 8) ~ '...' : contact.Email }}</td>
            <td>{{ contact.Ville|length > 8 ? contact.Ville|slice(0, 8) ~ '...' : contact.Ville }}</td>
            <td>{{ contact.statut ? 'Yes' : 'No' }}</td>


            <td>
                <a href="{{ path('lbr_contact_show', {'id': contact.id}) }}"><button type="button" class="btn btn-primary">Voir</button></a>
                <a href="{{ path('lbr_contact_edit', {'id': contact.id}) }}"><button type="button" class="btn btn-warning text-white">Editer</button></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="12">Aucun contact</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('lbr_contact_new') }}"><button type="button" class="btn btn-success">Créer un Contact</button></a>

{% endblock %}
