{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type_categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.titre }}</td>
                <td>
                <a href="{{ path('lbr_categorie_show', {'id': categorie.id}) }}"><button type="button" class="btn btn-primary"><span
                        class="text-white">Voir</span></button></a>

                <a href="{{ path('lbr_categorie_edit', {'id': categorie.id}) }}"><button type="button" class="btn btn-warning"><span
                        class="text-white">Editer</span></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<button type="button" class="btn btn-success"><a href="{{ path('lbr_categorie_new') }}"><span class="text-white">Ajouter
            une nouvelle Categorie</a></span></button>
{% endblock %}
